<div class="container">
  <%= form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f| %>
    <div>
      <%= f.label :avatar, 'Avatar' %>
    </div>
    <div>
      <%= f.file_field :avatar %>
    </div>
    <div>
      <%= f.label :nickname, 'Name' %>
    </div>
    <div>
      <%= f.text_field :nickname, class: 'text' %>
    </div>
    <div>
      <%= f.label :introduction, 'Introduction' %>
    </div>
    <div>
      <%= f.text_area :introduction %>
    </div>
    <%= f.submit 'Save', class: 'btn-primary' %>
  <% end %>
</div>
