<div class="container">
  <h3>Sign up</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'text' %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "new-password", class:'text' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'text' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn-primary' %>
    </div>
  <% end %>
  <%= link_to 'Sign in', new_user_session_path %>

</div>
