<!DOCTYPE html>
<html>
  <head>
    <title>Sample02</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div>
          <%= link_to root_path do %>
            <h2 class="header_title">Boards</h2>
          <% end %>
        </div>

        <% if user_signed_in? %>
          <div class="dropdown">
            <%= image_tag 'default-avatar.png', class: 'header_avatar dropbtn' %>
            <div class="dropdown-content mini">
              <%= link_to 'Sign out', destroy_user_session_path, data: { method: 'delete' } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
