!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sample02
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .container
        .header_title
          - unless current_page?(root_path)
            = link_to :back do
              %p &lt;
          = link_to root_path do
            %h2 Boards
        - if user_signed_in?
          .dropdown
            - if current_user.profile&.avatar&.attached?
              = image_tag current_user.profile.avatar, class: 'header_avatar dropbtn'
            - else
              = image_tag 'default-avatar.png', class: 'header_avatar dropbtn'
            .dropdown-content.mini
              = link_to 'Profile', profile_path
              = link_to 'Sign out', destroy_user_session_path, data: { method: 'delete' }
        - else
          - if current_page?(root_path)
            = link_to new_user_session_path do
              %p.header_signIn Sign in
    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value
    = yield
